

.search-dropdown {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    min-width: 340px;
    position: absolute;
    top: 61px;
    right: -125px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 5;
}

.search-dropdown::before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border-bottom: 9px solid #fff;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: -18px;
    right: 125px;
}

.search-dropdown form { height: 63px; }

.search-dropdown form .au-input {
    padding-left: 53px;
    font-size: 14px;
    border: none;
    color: #666;
}

.search-dropdown .search-dropdown__icon {
    position: absolute;
    top: 0;
    left: 26px;
    font-size: 24px;
    color: #c9c9c9;
    height: 63px;
    line-height: 63px;
}
